<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.marryview.admin.mapper.PaymentMapper">

	<insert id="insertPayment" parameterType="hashmap" useGeneratedKeys="true"
		keyProperty="payNo">
		INSERT INTO payment (
		user_id,
		amount,
		pay_status,
		pay_date,
		imp_uid,
        merchant_uid
		)
		VALUES (
		#{userId},
		#{finalAmount},
		'SUCCESS',
		NOW(),
		#{imp_uid},
        #{merchant_uid}
		)
	</insert>

	<insert id="insertPaymentPass" parameterType="map">
		INSERT INTO payment_pass (
		pay_no,
		pass_no,
		item_name
		)
		VALUES (
		#{payNo},
		#{passNo},
		#{itemName}
		)
	</insert>

	<!-- 결제 후 열람권 충전 로직-->
	<!-- 열람권 유무 조회 -->
	<select id="selectWalletCnt" parameterType="hashmap" resultType="int">
		SELECT COUNT(*)
		FROM user_pass_wallet
		WHERE user_id = #{userId}
	</select>

	<!-- 열람권 추가 -->
	<insert id="insertWalletCnt" parameterType="hashmap">
		INSERT INTO user_pass_wallet (
		user_id, remaining_count, total_purchased, pass_no
		)
		VALUES (
		#{userId},
		#{reviewCnt},
		#{reviewCnt},
		#{passNo}
		)
	</insert>

	<!-- 열람권 수정 -->
	<update id="updateWalletCnt" parameterType="hashmap">
		UPDATE user_pass_wallet
		SET
		remaining_count = remaining_count + #{reviewCnt},
		total_purchased = total_purchased + #{reviewCnt},
		pass_no = #{passNo}
		WHERE user_id = #{userId}
	</update>

	<insert id="insertPaymentReservation" parameterType="map">
		INSERT INTO payment (
			user_id,
			amount,
			pay_status,
			pay_date,
			imp_uid,
			merchant_uid
		)
		VALUES (
			#{userId},
			#{amount},
			'SUCCESS',
			NOW(),			
			#{impUid},
	 		#{merchantUid}
		)
	</insert>

	<insert id="insertPaymentRegistration" parameterType="map">
		INSERT INTO payment_registration (
		pay_no,
		company_no
		)
		VALUES (
		#{payNo},
		#{companyNo}
		)

	</insert>

	<!--<update id="updateRefundStatus" parameterType="hashmap">
		UPDATE payment
		SET status = 'REFUND',
		refund_date = NOW()
		WHERE payment_no = #{paymentNo}
	</update>

	<update id="updateRefund" parameterType="hashmap">
		UPDATE payment_reservation
		SET
		refund_date = NOW(),
		refund = 1
		WHERE pay_no = #{payNo}
	</update>

	<update id="updateReservationCancel" parameterType="hashmap">
		UPDATE reservation
		SET res_status = 'CANCEL'
		WHERE pay_no = #{payNo}
		AND res_status != 'DONE'
	</update>-->
	
	<select id="selectPassPayment" parameterType="hashmap" resultType="hashmap">
        SELECT p.*, pp.pass_no, pp.item_name
        FROM payment p
        INNER JOIN payment_pass pp ON p.pay_no = pp.pay_no
        WHERE p.pay_no = #{payNo}
    </select>

<!-- selectRefundInfo에서 Pass 추가한거 -->
    <select id="selectRefundPassInfo" parameterType="hashmap" resultType="hashmap">
		SELECT p.pay_no AS payNo,
		p.pay_status AS payStatus,
		p.imp_uid AS impUid,
		p.user_id AS userId,
		pp.pass_no AS passNo,
		pr.review_cnt AS reviewCnt,
		w.remaining_count AS remainingCount
		FROM payment p
		JOIN payment_pass pp ON p.pay_no = pp.pay_no
		JOIN pass_product pr ON pp.pass_no = pr.pass_no
		JOIN user_pass_wallet w ON p.user_id = w.user_id
		WHERE p.pay_no = #{payNo}
	</select>

	<update id="minusWallet" parameterType="hashmap">
		UPDATE user_pass_wallet w
		JOIN payment p ON w.user_id = p.user_id
		JOIN payment_pass pp ON p.pay_no = pp.pay_no
		JOIN pass_product pr ON pp.pass_no = pr.pass_no
		SET w.remaining_count = w.remaining_count - pr.review_cnt
		WHERE p.pay_no = #{payNo}
	</update>

    <update id="updateRefundPayment" parameterType="hashmap">
		UPDATE payment
		SET pay_status='CANCEL'
		WHERE pay_no=#{payNo}
	</update>

    <update id="updateRefundPass" parameterType="hashmap">
		UPDATE payment_pass
		SET status='REFUND'
		WHERE pay_no=#{payNo}
	</update>
	
	<!-- 쿠폰 만료 자동 처리 깊티도 같이 처리해도 되는듯 -->
	<update id="updateExpiredCoupon" parameterType="hashmap">
	UPDATE user_coupon
	SET status = 'EXPIRED'
	WHERE user_id = #{userId}
	AND status = 'UNUSED'
	AND	expired_at &lt; CURRENT_TIMESTAMP
	</update>	
	
<!-- 유저 잔여 쿠폰 조회-->	
	<select id="selectCouponUseList" parameterType="hashmap" 
	resultType="com.example.marryview.admin.model.Payment">
		SELECT
		U.coupon_code AS couponCode,
		C.coupon_name AS couponName,
		C.discount_rate AS discountRate,
		U.issued_at AS issuedAt,
		U.expired_at AS expiredAt,
		U.status AS status,
		DATEDIFF(U.expired_at, CURRENT_TIMESTAMP) AS dday
		FROM user_coupon U
		JOIN coupon C
		ON U.coupon_code = C.coupon_code
		WHERE 1=1
		AND U.user_id = #{userId}
		AND C.coupon_type = 'COUPON'
		<if test="status != null and status !='ALL'">
			AND U.status = #{status}
		</if>
		AND U.expired_at &gt; CURRENT_TIMESTAMP
		ORDER BY U.expired_at ASC
	</select>
	
	<!-- 유저 쿠폰 페이지네이션 -->
	<select id="selectMyCouponCount" parameterType="hashmap" 
	resultType="int">
		SELECT IFNULL(COUNT(*), 0)
		FROM user_coupon U
		JOIN coupon C
		ON U.coupon_code = C.coupon_code
		WHERE 1=1
		AND U.user_id = #{userId}
		AND C.coupon_type = 'COUPON'
		<if test="status != null and status !='ALL'">
			AND U.status = #{status}
		</if>
		AND U.expired_at &gt; CURRENT_TIMESTAMP
		ORDER BY U.expired_at ASC
		LIMIT #{pageSize} OFFSET #{offSet}
	</select>
	
	<!-- 쿠폰 검증 -->
	<select id="selectCouponInfo" parameterType="hashmap"
        resultType="com.example.marryview.admin.model.Payment">
    SELECT
        U.coupon_code AS couponCode,
        C.coupon_name AS couponName,
        C.discount_rate AS discountRate,
        U.issued_at AS issuedAt,
        U.expired_at AS expiredAt,
        U.status AS status,
        DATEDIFF(U.expired_at, CURRENT_TIMESTAMP) AS dday
    FROM user_coupon U
    JOIN coupon C
        ON U.coupon_code = C.coupon_code
    WHERE U.user_id = #{userId}
    AND C.coupon_type = 'COUPON'
      AND U.coupon_code = #{couponCode}
      AND U.status = 'UNUSED'
      AND U.expired_at > CURRENT_TIMESTAMP
    ORDER BY U.expired_at ASC
</select>
<!-- 패스 가격 디비에서 조회-->
<select id="selectPassPrice" parameterType="hashmap"
        resultType="int">
    SELECT price
    FROM pass_product
    WHERE pass_no = #{passNo}
</select>
<!-- 쿠폰 사용됨 수정-->
<update id="updateUsedCoupon" parameterType="hashmap">
    UPDATE user_coupon
    SET status = 'USED',
        used_at = NOW(),
        pay_no = #{payNo}
    WHERE user_id = #{userId}
      AND coupon_code = #{couponCode}
      AND status = 'UNUSED'
</update> 

<!-- 등록 회사 번호 조회-->
<select id="selectCompanyInfo" parameterType="hashmap"
        resultType="int">
    SELECT COALESCE(company_no, 0) AS companyNo
    FROM company
    WHERE user_id = #{userId}
</select>

<!-- 예약 환불시 조회 -->
<select id="selectAdminReservation" parameterType="hashmap" resultType="hashmap">
		SELECT
		    pr.pay_no AS payNo,
		    pr.user_id AS userId,
		    pr.amount AS amount,
		    pr.pay_status AS payStatus,
		    pr.pay_date AS payDate,
		    r.res_no AS resNo,
		    r.res_date AS resDate,
		    r.res_time AS resTime,
		    r.use_date AS useDate,
		    r.use_time AS useTime,
		    r.res_status AS resStatus,
		    pr.imp_uid AS impUid,
			pr.user_id AS userId,
		    DATEDIFF(r.use_date, NOW()) AS dday
		FROM payment_reservation pr
		JOIN reservation r ON pr.res_no = r.res_no
		WHERE pr.pay_no = #{payNo}
	</select>
	<!-- 예약 환불 -->
	<update id="updateRefundReservation" parameterType="hashmap">
		UPDATE reservation
		SET 
		    res_status = 'CANCEL'
		WHERE pay_no = #{payNo}
	</update>
	<update id="updateRefundReservation2" parameterType="hashmap">
		UPDATE payment_reservation
		SET 
		    pay_status = 'CANCEL',
		    refund = 1,
		    refund_date = NOW()
		WHERE pay_no = #{payNo}
	</update>

</mapper>