<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.admin.mapper.PaymentMapper">

	<insert id="insertPayment" parameterType="hashmap" useGeneratedKeys="true"
		keyProperty="payNo">
		INSERT INTO payment (
		user_id,
		amount,
		pay_status,
		pay_date
		)
		VALUES (
		#{userId},
		#{amount},
		'SUCCESS',
		NOW()
		)
	</insert>

	<insert id="insertPaymentPass" parameterType="map">
		INSERT INTO payment_pass (
		pay_no,
		pass_no,
		item_name
		)
		VALUES (
		#{payNo},
		#{passNo},
		#{itemName}
		)
	</insert>

	<!-- 결제 후 열람권 충전 로직-->
	<!-- 열람권 유무 조회 -->
	<select id="selectWalletCnt" parameterType="hashmap" resultType="int">
		SELECT COUNT(*)
		FROM user_pass_wallet
		WHERE user_id = #{userId}
	</select>

	<!-- 열람권 추가 -->
	<insert id="insertWalletCnt" parameterType="hashmap">
		INSERT INTO user_pass_wallet (
		user_id, remaining_count, total_purchased, pass_no
		)
		VALUES (
		#{userId},
		#{reviewCnt},
		#{reviewCnt},
		#{passNo}
		)
	</insert>

	<!-- 열람권 수정 -->
	<update id="updateWalletCnt" parameterType="hashmap">
		UPDATE user_pass_wallet
		SET
		remaining_count = remaining_count + #{reviewCnt},
		total_purchased = total_purchased + #{reviewCnt},
		pass_no = #{passNo}
		WHERE user_id = #{userId}
	</update>

	<!--<insert id="insertPaymentReservation" parameterType="map">
		INSERT INTO payment_reservation (
			pay_no,
			user_id,
			amount,
			pay_status,
			pay_date,
			res_no
		)
		VALUES (
			#{payNo},
			#{userId},
			#{amount},
			'PAID',				#{payStatus},
			NOW(),				#{payDate},
			#{resNo}
		)
	</insert>-->

	<insert id="insertPaymentRegistration" parameterType="map">
		INSERT INTO payment_resistration (
		pay_no,
		company_no
		)
		VALUES (
		#{payNo},
		#{companyNo}
		)

	</insert>

	<!--<update id="updateRefundStatus" parameterType="hashmap">
		UPDATE payment
		SET status = 'REFUND',
		refund_date = NOW()
		WHERE payment_no = #{paymentNo}
	</update>

	<update id="updateRefund" parameterType="hashmap">
		UPDATE payment_reservation
		SET
		refund_date = NOW(),
		refund = 1
		WHERE pay_no = #{payNo}
	</update>

	<update id="updateReservationCancel" parameterType="hashmap">
		UPDATE reservation
		SET res_status = 'CANCEL'
		WHERE pay_no = #{payNo}
		AND res_status != 'DONE'
	</update>-->
	
</mapper>