<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.marryview.company.mapper.CompanyMapper">

	<select id="selectCompany" parameterType="hashmap" resultType="com.example.marryview.company.model.PartnerMember">
		SELECT 
			m.user_id AS userId,
			m.password,
			m.ROLE AS role,
			m.status,
			m.tel,
			m.reg_date AS regDate,
			m.last_login AS lastLogin,
			m.previous_payment AS previousPayment,
			m.out_date AS outDate,
			c.com_name AS comName
		FROM member m
		LEFT JOIN company c ON m.user_id = c.user_id
		WHERE m.user_id = #{userid}
	</select>

	<select id="selectCompanyByUserId" parameterType="String" resultType="String">
		SELECT COMPANY_NO AS companyNo
		FROM COMPANY
		WHERE USER_ID = #{userId}
	</select>

</mapper>